.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

.disable-radius {
    border-radius: 0px;
}

.ql-editor {
    min-height: 200px !important;
}

.sortable-handle {
    cursor: row-resize;
}

.sortable-ghost {
    opacity: 0.4;
}

.sortable-chosen {
}

.react-codemirror2 {
    width: 100%;
}
